
<!-- list all the posts about the same city or country -->
<div class="search">
<%= erb :"_search", layout: false %> 
</div>

<div class="center-block">
	
	<ul class="list-group">
		<% if error %>
		<li><%= error%></li>
		<% end %> 
	</ul>

	<ul class="list-group">
		<% if city %> 
			<% city.posts.each do |post| %>
			<li class="list-results">
				<a href="/profile/<%= post.user_id %>"><%= post.title %></a>
				<!-- <span class="vote_count">1</span> -->
			</li>
			<% end %> 

			<% elsif country %> 
			<% country.posts.each do |post| %>
			<li class="list-results">
				<!-- <span class="vote_count">1</span> -->
				<a href="/profile/<%= post.user_id %>"><%= post.title %></a>
			</li>
			<% end %> 
		<% end %> 

	</ul>
</div>






