<ul class="profile-info">

<% if @user == current_user %>
	<li><a id="edit-profile" href="/profile/<%= current_user.id %>/edit">Edit My Profile</a></li>
	<li><a href="/posts/<%= current_user.id %>/new">Add Trip</a></li>
<% end %>
<li>Name: <%= @user.name %></li>
<li>Email: <%= @user.email %></li>
<li>Gender <%= @user.gender %></li>
<li>From: <%= @user.hometown %></li>
<li>Places i've been: <%= @user.travel_destinations %></li>
<li><%= @user.description %></li>
	</ul>